[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/arpeggio"]
	path = vim/bundle/arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/preview"]
	path = vim/bundle/preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/manalang/jshint.vim.git
[submodule "vim/bundle/vimerl"]
	path = vim/bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "fonts/menlo-powerline-patch"]
	path = fonts/menlo-powerline-patch
	url = git://gist.github.com/1595572.git
[submodule "fonts/ubuntu-mono-powerline-patch"]
	path = fonts/ubuntu-mono-powerline-patch
	url = https://github.com/scotu/ubuntu-mono-powerline.git
