.DS_Store
virtualenvs/hook.log
virtualenvs/hook.log*
local/Cellar
local/share
config/configstore
config/fish/fish_history
config/fish/fish_read_history
config/fish/fishd.*
config/cipherhub
vim/.netrwhist
vim/undodir
