[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/extradite"]
	path = .vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/arpeggio"]
	path = .vim/bundle/arpeggio
	url = git://github.com/kana/vim-arpeggio.git
